---
const { title, description, image, imageLink, tags } = Astro.props;
---
<div class="grid p-2 border-2 border-purple-400 rounded-lg">
    <a href={imageLink}><img class="rounded-xl" src={image} alt={title}></img></a>
    <div class="font-bold">{title}</div>
    <div>{description}</div>
    <div class=`grid grid-cols-${tags.length}`>
        {tags.map((content) => {
            return (
                <div class="text-sm text-center text-green-700">{content}</div>
            )
        })}
    </div>
</div>