---
const { company, job_title, dates, location, description, image, imageLink } = Astro.props;
---
<style is:global>
    ul {
        list-style-type: disc;
        padding-left: 30px;
    }
    ul ul {
        padding-left: 50px;
    }
</style>
<div class="grid border-violet-400 border-2 rounded-lg shadow-lg p-2 md:p-6 my-2">
    <div class="grid grid-cols-12 items-center content-center pb-6">
        <div class="grid justify-center w-[48px] lg:w-[48px] xl:w-[64px]"><a href={imageLink}><img src={image} alt={`image icon of ${company}`} class="rounded-full"></img></a></div>
        <div class="grid col-start-3 md:col-start-2 col-span-5 xl:mx-4">
            <div class="grid text-[1rem] font-bold">{company}</div>
            <div class="grid text-[0.875rem]">{job_title}</div>
        </div>
        <div class="grid col-start-8 md:col-start-10 col-span-5 md:col-span-3 justify-end text-right">
            <div class="grid text-[1rem] font-medium">{dates}</div>
            <div class="grid text-[0.875rem] justify-end">{location}</div>
        </div>
    </div>
    <div class="grid list-disc">
        <Fragment class = "list-disc" set:html={description} />
    </div>
</div>
